<div class="staff-page">
  <h1>Conosciamo insieme lo Staff della cerimonia:</h1>

  <div class="staff-container-list">
    <div class="staff-container--right">
      <div class="person-photo">Foto Daniela</div>
      <p>La nostra mitica Super Official Public Relation Manager... Dagnela!!<br>Se vi serve qualcosa che riguarda la festa, chiedete a Lei!
        <br>
        Telefono: XXX XXXXXXXXX
      </p>
    </div>
    <div class="staff-container--left">
      <div class="person-photo">Foto genitori</div>
      <p>Ed ecco chi dovete - ma soprattutto dobbiamo - ringraziare per la festa!</p>
    </div>
    <div class="staff-container--right">
      <div class="person-photo">Foto scema nostra</div>
      <p>I serissimi ospiti della cerimonia, si spera saranno più eleganti quel giorno...</p>
    </div>
  </div>
</div>
<div class="staff-page dark-bg">
  <h2 class="subtitle-staff">Ed ecco invece lo staff tecnico:</h2>
  <div class="staff-container-list">
    <div class="staff-container--left">
      <div class="person-photo"></div>
      <p>fotografo</p>
    </div>
    <div class="staff-container--right">
      <div class="person-photo"></div>
      <p>fioraio</p>
    </div>
    <div class="staff-container--left">
      <div class="person-photo"></div>
      <p>musicisti</p>
    </div>
    <div class="staff-container--right">
      <div class="person-photo"></div>
      <p>staff di fontanafredda</p>
    </div>
  </div>
</div>



