Questa pagina è in corso di costruzione. Sciò sciò.
<div class="staff-page">
  <div class="staff-container--center">
    <div class="person-photo">Foto genitori</div>
    <p>Ed ecco chi dovete - ma soprattutto dobbiamo - ringraziare per la festa.<br>E i vestiti, i mobili, la casa...</p>
  </div>
  <div class="staff-container--center">
    <div class="person-photo">Foto scema nostra</div>
    <p>I serissimi ospiti della cerimonia, si spera saranno più eleganti quel giorno...</p>
  </div>

</div>


