<nav class="navbar navbar-expand-lg navbar-light app-header">
  <a class="navbar-brand" href="#">Home</a>
  <!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-on-top" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="location">Le Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="staff">Lo Staff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="liste">Le Liste Nozze</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="foto">Le Foto</a>
      </li>
    </ul>
  </div>
</nav>
