@import '../../../../theme/colors';

.wip-container {
  background-color: $primary-color;
  padding-top: 150px;
}

.wip-image {
  background: url("../../../../assets/images/WIP.png") center no-repeat;
  padding: 80px 15%;
  height: 500px;
}
