<div class="liste-page">
  <div class="inverted-text">
    <h1>Abbiamo due liste!</h1>
    <p>A Voi la scelta:</p>
  </div>
  <div class="liste-container liste-container--left viaggio">
    <div class="liste-content">
      <h1>Il Viaggio</h1>
      <p>L'itinerario comprende una prima tappa di 5 giorni a New York City, per poi raggiungere le paradisiache spiagge del Messico.<br>
        Per contribuire al Viaggio Di Nozze, potete recarvi nell'agenzia XXX, Piazza XXXX, Alba, dove potrete anche lasciare una dedica sull'Album delle Dediche.<br>
        Se invece siete lontani, potete fare un bonifico al seguente IBAN:<br>
        XXXXXXXXXXXXXXXXX causale? mail?<br>
        Per eventuali dubbi, potete contattare l'agenzia al numero:<br>
        XXX XXXXXXXXXX
      </p>
    </div>
  </div>
  <div class="liste-container liste-container--left tovaglia inverted-text">
    <div class="liste-content">
      <h1>Le Cose di Casa</h1>
      <p>Se invece preferite contribuire all'oggettistica casalinga,<br>
        potete recarvi in qualsiasi punto vendita Unieuro, e chiedere della nostra Lista di Nozze.<br>
      </p>
    </div>
  </div>
</div>
