<div class="liste-page">
  <div class="inverted-text">
    <h1>Abbiamo due liste!</h1>
    <p>A Voi la scelta:</p>
  </div>
  <div class="liste-container liste-container--left viaggio">
    <div class="liste-content liste-content--right">
      <h1>Il Viaggio</h1>
      <p>L'itinerario comprende una prima tappa di 5 giorni a New York City, per poi raggiungere le paradisiache spiagge del Messico.<br>
        Per contribuire al Viaggio Di Nozze, potete recarvi all'agenzia "Viaggiare con Noi", Via Teobaldo Calissano, 6/A, 12051 Alba CN,<br>
        dove potrete anche lasciare una dedica sull'Album delle Dediche.<br>
        Se invece siete lontani, potete fare un bonifico alle seguenti coordinate bancarie:<br>
        <br>
        VIAGGIARE INSIEME S.A.S DI CORIO NICOLA & C<br>
        IBAN: IT76B0311122500000000015070<br>
        CAUSALE: "Lista Nozze Faveria-Colombaro", vostro nome e cognome...<br>
        Per eventuali dubbi, potete contattare l'agenzia al numero:<br>
        0173 364375
      </p>
    </div>
  </div>
  <div class="liste-container liste-container--left tovaglia inverted-text">
    <div class="liste-content">
      <h1>Le Cose di Casa</h1>
      <p>Se invece preferite contribuire all'oggettistica casalinga,<br>
        potete recarvi in qualsiasi punto vendita Unieuro, e chiedere della nostra Lista di Nozze. (Faveria-Colombaro)<br>
      </p>
    </div>
  </div>
</div>
