<div class="imageContainer">
  <h1 class="image-title">Ci Siamo Sposati!</h1>
</div>
<div class="app-card">
  <h1>- 7 luglio 2019 -</h1>
  <p>Grazie a tutti per la festa indimenticabile.<br/><br/>
  Ecco le foto! Per aprirle, selezionate "Enter as guest", inserite la vostra mail.<br/>
    La password è <span style="font-family: Verdana">"0BBs"</span>.
  </p>
  <button type="button" class="btn foto-page-button" (click)="openAlbumPage('joy')">Apri l'Album del Fotografo</button>

  <p>E qui trovate il link all'album condiviso che avete fatto voi!</p>
  <button type="button" class="btn foto-page-button" (click)="openAlbumPage('google')">Apri l'Album Amatoriale</button>
</div>
