@import "../../../theme/colors";

.imageContainer {
  background-image: url("../../../assets/images/sposiVigne.png");
  height: 99%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-card {
  //height: 50%;
  background-color: $primary-color;
  padding: 4%;
}

.image-title {
  color: $primary-color;
  position: absolute;
  right: 10%;
  bottom: 5%;
}


$personPhotoSize: 150px;



.foto-page-button {
  margin-bottom: 30px;
  background-color: $second-color;
  color: $primary-color;
}
