.lock-page {
  position: fixed;
  z-index: 100;
  background-image: url("../assets/images/IMG_4144_blurred.JPG");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.lock-page--after {
  background-image: url("../assets/images/sposiVigne_BLURRED.jpg");
  background-position-y: 25%;
}

.lock-page-input {
  padding: 10px;
  text-align: center;
}

.lock-page-input-btn {

}

.lock-page-input-container {
  top: 35%;
  position: fixed;
  width: 100%;
}
