@import '../../../theme/colors';

.location-page {
  padding-top: 150px;
  background-color: $primary-color;
}

.location-container {
  padding: 50px 15% 0;
}

.location-container--right {
  text-align: right;
}

.location-container--left {
  text-align: left;
}

.maps-container {
  width: 50%;
  height: 300px;
}

.chiesa {
  position: relative;
  //background-size: ;
  background:
    //linear-gradient(to bottom, rgba(243,204,154,1), rgba(0,0,0,0)),
    linear-gradient(to bottom, rgba(243,204,154,1) 0%,rgba(41,137,216,0) 50%,rgba(243,204,154,1) 100%),
    url("../../../assets/images/chiesa.jpg") center center / cover no-repeat;
  background-attachment: scroll, fixed;


  //@include filter-gradient(#f3cc9a, #f3cc9a, vertical);
  //@include background-image();

  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  background-image: linear-gradient(to bottom,rgba(243,204,154,1),rgba(0,0,0,0));
  //}
}

.location-content {
  position: relative;
  width: 100%;
  height: 100%;
}

