@import '../../../theme/colors';

.location-page {
  padding-top: 150px;
  background-color: $primary-color;
}

.location-container {
  padding: 80px 15%;
}

.location-container--right {
  text-align: right;
}

.location-container--left {
  text-align: left;
}

.maps-container {
  width: 50%;
  height: 300px;
}

.chiesa {
  position: relative;
  background:
    linear-gradient(to bottom, rgba(243,204,154,1) 0%,rgba(243,204,154,0) 20%,rgba(243,204,154,0) 80%,rgba(243,204,154,1) 100%),
    url("../../../assets/images/chiesa.jpg") center center / cover no-repeat;
  background-attachment: scroll, fixed;
}

.fontanafredda {
  position: relative;
  background:
    linear-gradient(to bottom, rgba(243,204,154,1) 0%,rgba(243,204,154,0) 20%,rgba(243,204,154,0) 80%,rgba(243,204,154,1) 100%),
    url("../../../assets/images/fontanafredda.jpg") center center / cover no-repeat;
  background-attachment: scroll, fixed;
}

.location-content {
  position: relative;
  width: 100%;
  height: 100%;
}

